p: h1.ui.horizontal.divider.huge.hand.writing Choose Wisely!

.ui.four.column.relaxed.grid.padded
	.column &nbsp;
	.column
		avatar(force="light")
	.column
		avatar(force="dark")
	.column &nbsp;

battlecry(slogan="this is the power of love ...")