article.story
	.ui.horizontal.divider.huge.hand.writing long, long ago, far, far away ...
	p.big.blocked.writing
		| Joehannes the workerbee had himself started a wild romance with the queen. Really, it is almost impossible to explain how he could even concoct such an idea in his mind alone ... the queen! And much less how he succeeded in catching her attention or even stealing a first kiss. Nethertheless, one must admit he did succeed.
	section.block: img.ui.centered.small.circular.bordered.image(src="assets/queen.jpg")
article.story
	.ui.horizontal.divider.huge.hand.writing and then ...
	p.big.blocked.writing
		| Now, to keep the queen happy, joehannes cloned himself 4 times, so there was 5. The 5 workerbees worked tirelessly day and night, aquiring intelligence, building up in love and over all ... gibberish ...
	section.block
		img.ib.ui.centered.spaced.small.circular.bordered.image(src="assets/workerbee.png")
		img.ib.ui.centered.spaced.small.circular.bordered.image(src="assets/workerbee2.jpg")
		img.ib.ui.centered.spaced.small.circular.bordered.image(src="assets/workerbee3.jpg")
		img.ib.ui.centered.spaced.small.circular.bordered.image(src="assets/workerbee4.jpg")
		img.ib.ui.centered.spaced.small.circular.bordered.image(src="assets/workerbee5.jpg")
article.story
	.ui.horizontal.divider.huge.hand.writing 4 every day
	p.big.blocked.writing
		| To protect and guard her majesty's happiness he spawned 2 quad-core sub-processes. They are colled the two little princesses.
	section.block
		img.ib.ui.centered.spaced.small.circular.bordered.image(src="assets/drone1.jpg")
		img.ib.ui.centered.spaced.small.circular.bordered.image(src="assets/drone2.jpg")
article.story
	.ui.horizontal.divider.huge.hand.writing the task - your ... game
	p.big.blocked.writing
		| The queens happiness must be guaranteed and safeguarded at all costs. It is the entire purpose of this little game to shoot so called love attacks at the bee-hive in order to accomplish overall happiness. Should you not be 100% up to speed as to the rules, never mind, just trigger the button, I altered the rules to my liking anyway, hahaha!!!