article.ui.centered.middle.aligned.segment
	p.ui
		.ui.form.battlecry
			.field
				label Battlecry
				input(type="text" ng-model="battlecry" placeholder="{{slogan}}")
	p.ui
		.block
			.ui.buttons
				button.ui.negative.button I am afraid
				.or
				button.ui.positive.button Go, Go, Go!
.ui.inline.nag.slogan
	span.title Is your tongue tired and heavy?
	i.close.icon
.ui.inline.nag.avatar
	span.title Are you afraid to choose???
	i.close.icon