.ui.card.middled
	img.ui.center.aligned.middled.tiny.circular.image(src="{{avatar}}")
	.content
		.header.blocked.writing {{type}}
		.meta {{lifes}} life(s)
	.extra.content
		i.red.heart.icon
		span {{level}}%